html, body {
  height: 100%;
  width: 100%;
}




.white {
  text-align: center;
  color:white;
  list-style-position: inside;
}



.center {
  text-align: center;
list-style-position: inside;
  
}

table, th, td, tr {
  border:1px solid black;
}




.shadow {filter: drop-shadow(8px 8px 10px orange);}